*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*-----------------------------------------------------------------------------------------------------------*/

/*MOBILE*/

@media only screen and (min-width:320px) and (max-width:768px){

    

    /*CONTENEDOR DE NAV E IMAGEN*/
    .barranav{
        background-color: #F1E3D3;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    /*CONTENEDOR NOMBRES DE LAS PAGINAS*/
    .namenav{
        display: flex;
        flex-direction: column;
    }
    /*NOMBRES*/
    .namenav a{
        color:rgb(241, 96, 96) ;
        width: 100vw;
        text-decoration: none;
        font-size: 4vw;
        text-align: center;
        transition: 1s;
    }

    /*ANIMACION*/
    .namenav a:hover{
        background-color: #F2D0A9;
        color: whitesmoke;
        border: 2vh solid #f1c593;
    }

    /*IMAGEN NAV*/
    .barranav img{
        width: 20vw;
    }


    /*HOME..............*/

    /*TITULO*/

    /*PARTE 1 HOME*/
    
        /*BANNER CENTRAL*/

        .oreo{
            display: flex;
            flex-direction: column;
            color: #F2D0A9;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 100vw;
            height: 100vh;
            background: url(./Imagenes/imagenv.jpg);
            background-position: center;
            padding: 5vw;
        }
        .oreo h1, h2{
            font-family:Arial, Helvetica, sans-serif;
            display: flex;
            color: #e0d2f8;
            flex-direction: column;
        }

        .oreo h2{
            color: rgb(136, 105, 237);
        }

        .oreo img{
            margin: 5vw;
            width: 100vw;
            height: 30vh;
        }

    

    /* SEGUNDA PARTE HOME */

    .segunda{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 5vw;
        background-color: rgb(235, 138, 138);
        width: 100vw;
        height: 100vh;
        font-family: Arial, Helvetica, sans-serif;
    }

    .segunda img{
        width: 50vw;
        margin-bottom: 5vh;
    }

    .segunda  h2,p{
        text-align: center;

    }

    /*FOOTER HOME*/
    
    .pie{
        display: flex;
        justify-content: center;
        align-items: center;
        color: gold;
        height: 10vh;
        background-color: #b082ff;
    }


    /*ABOUT US......................*/
    


    /*CONTENEDOR DE LAS IMAGENES Y TEXTO CADA CLASE ABOUT SERA IMAGEN Y TEXTO EN SU ORDEN*/
    .tituloabout{
        background-color: #9DAEC6;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /*PRIMER CONTENEDOR*/

    h1{
        color: #5770f8;
    }
    h2{
        color: #efeeea;
    }
    .about1{
        background-color: #9DAEC6;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        text-align: center;
        padding: 5vw;
        font-family: Arial, Helvetica, sans-serif;
    }

    /*IMAGEN Y TEXTO*/

    .about1 img{
        margin: 1vh;
        border: 2px solid #D291BC;
        width: 50vw;
        height: auto;
    }

    .about1 p{
        color: #ffffff;
        background-color: #373737;
        border: 2px solid;
        padding: 2vh;
    }

    /*SEGUNDO CONTENEDOR*/

    .about2{
        background-color: #9DAEC6;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        text-align: center;
        padding: 5vw;
        font-family: Arial, Helvetica, sans-serif;
    }

    /*IMAGEN Y TEXTO*/

    .about2 img{
        margin: 1vh;
        border: 2px solid #D291BC;
        width: 50vw;
        height: auto;
    }

    .about2 p{
        color: #ffffff;
        background-color: #373737;
        border: 2px solid;
        padding: 2vh;
    }

    /*TERCER CONTENEDOR*/

    .about3{
        background-color: #9DAEC6;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        text-align: center;
        padding: 5vw;
        font-family: Arial, Helvetica, sans-serif;
    }

    /*IMAGEN Y TEXTO*/

    .about3 img{
        margin: 1vh;
        border: 2px solid #D291BC;
        width: 50vw;
        height: auto;
    }

    .about3 p{
        color: #ffffff;
        background-color: #373737;
        border: 2px solid;
        padding: 2vh;
    }

    /*CONTACT......................*/

    .cont1{
        display: flex;
        flex-direction: column;
        color: #5770f8;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100vw;
        height: 100vh;
        background: url(./Imagenes/two-icecream.jpg);
        background-position: center;
        padding: 5vw;
    }

    .cont1 h2{
        color: cornsilk;
    }

    .cont2{
        display: flex;
        background-color: rgba(200,221,216,255);
        width: 100vw;
        height: 100vh;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 5vw;
        font-size: 5vw;
        text-align: center;
    }

    .cont2 h2{
        color: #efeeea;
    }

    /*LOGO GMAIL Y WHATSAPP*/

    .gw{
        display: flex;
        flex-direction: column;
        width: 20vw;
        height: 15;

    }
    .gw img{
        height: auto;
        width:20vw ;
    }

    /*MORE INFO................*/

    .tabla{
        background-color: #D36582;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        width: 100vw;
        height: 100vh;
    }

    table {
        border: 2px solid white;
        margin-top: 10vh;
        text-align: center;
        width: 90vw;
        height: 50vh;
    }

    .mi{
        margin-top: 5vh;
    }
    .contenido{
        display: flex;
        align-items: center;
        height: 70vh;
    }
    tr, th, td{
        border: 2px solid pink;
        background-color: lightpink;
    }

    /*Benefits and tips ...................*/
    
    
    /*TITULO PAGINA*/
    .titulobf{
        text-align: center;
    }

    /*PRIMER RECUADRO*/

    .contenbox1 {
        width: 100vw;
        height: 100vh;
        font-family: Arial, Helvetica, sans-serif;
        padding: 5vw;
        background-color: lightcoral;
    }

    .cuadro1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 70vh;
        padding: 5vw;
    }

    .cuadro1 img{
        width: 80vw;
        margin-bottom: 2vh;
    }

    dl{
        font-size: 4vw;
        margin: 5vw;
    }


    .stre img{
        width: 90vw;
    }

    /*SEGUNDO RECUADRO*/

    .contenbox2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif;
        background-color: #D291BC;
        width: 100vw;
        height: 100vh;

    }

    .cuadro2{
        height: 60vh;
    }
    .cuadro2 img{
        width: 80vw;
        height: 50vh;
    }

    dl{
        font-size: 4vw;
    }

    .strel{
        display: flex;
        align-items: flex-end;
        height: 30vh;

    }

    .strel img{
        width: 90vw;
    }

    /*RAFFLE.......................*/


    /*CONTENEDOR PRINCIPAL*/

        /*MAPA ...........*/

        .mapa{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #9DAEC6;
            width: 100vw;
            height: 30vh;
        }
    iframe{
        width: 90vw;
        height: auto;
    }
    /*CONTENEDOR FORMULARIO*/
    .formu{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(228, 228, 246);
        padding: 1vw;
        width: 100vw;
        height: 70vh;
    }

    /*FORMULARIO*/
    form{
        background-color: white;
        font-family: Arial, Helvetica, sans-serif;
        border: 5px solid red;
        font-size: 2vw;
        display: flex;
        flex-direction: column;
        padding: 2vw;
        width: 90vw;
        height: 60vh;
        
    }

    .fecha{
        height: 5vh;
        border: solid lightsalmon;
    }
     
    
    /*Tamaño de los recuadros*/
    .cua{
        height: 5vh;
        border: 2px solid #D291BC ;
    }

    /*BOTON*/
    .botonenvi{
        display: flex;
        justify-content: center;
        height: 3vh;
    }

    .boton{
        border-radius: 5px;
        width: 20vw;
        background-color: #9eacff;
    }

    /*MARGEN DE SEPARACION*/
    label, input{
        margin: 4px;
    }

    /*TITULO OPTIONS */

    .Payment{
        color: #373737;
    }

}
 
/*-----------------------------------------------------------------------------------------------------------*/

/*TABLET*/
@media only screen and (min-width:768px) and (max-width:1023px){

    
    
    /*CONTENEDOR BARRA DE IMAGEN */

    .barranav{
        background-color: #F1E3D3;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    /*CONTENEDOR NOMBRE DE LAS PAGINAS*/

    .namenav{
        display: flex;
        flex-direction: column;
    }

    /*NOMBRES*/
    
    .namenav a{
        color:rgb(241, 96, 96) ;
        width: 100vw;
        text-decoration: none;
        font-size: 3vw;
        text-align: center;
        transition: 1s;
    }

    /*ANIMACION*/
    a:hover{
        color: whitesmoke;
    }

    /*IMAGEN NAV*/

    .barranav img{
        width: 10vw;
    }

    /*PARTE 1 HOME*/

    
        /*BANNER CENTRAL*/

        .oreo{
            display: flex;
            flex-direction: column;
            color: #F2D0A9;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 100vw;
            height: 100vh;
            background: url(./Imagenes/imagenv.jpg);
            background-position: center;
            padding: 5vw;
        }
        .oreo h1, h2{
            font-family:Arial, Helvetica, sans-serif;
            color: #e0d2f8;
        }

        .oreo h2{
            color: rgb(136, 105, 237);
        }

        .oreo img{
            margin: 5vw;
            width: 100vw;
            height: 30vh;
        }

    

    /* SEGUNDA PARTE HOME */

    .segunda{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 5vw;
        background-color: rgb(235, 138, 138);
        width: 100vw;
        height: 100vh;
        font-family: Arial, Helvetica, sans-serif;
    }

    .segunda img{
        width: 30vw;
        margin-bottom: 5vh;
    }

    .segunda  h2,p{
        text-align: center;

    }

    /*FOOTER HOME*/
    
    .pie{
        display: flex;
        justify-content: center;
        align-items: center;
        color: gold;
        height: 10vh;
        background-color: #b082ff;
    }

     /*ABOUT US......................*/
    


    /*CONTENEDOR DE LAS IMAGENES Y TEXTO CADA CLASE ABOUT SERA IMAGEN Y TEXTO EN SU ORDEN*/

    /*TITULO*/
    .tituloabout{
        background-color: #9DAEC6;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /*PRIMER CONTENEDOR*/

    h1{
        color: #5770f8;
    }
    h2{
        color: #efeeea;
    }

    .about1{
        background-color: #9DAEC6;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        text-align: center;
        padding: 5vw;
        font-family: Arial, Helvetica, sans-serif;
    }

    /*IMAGEN Y TEXTO*/

    .about1 img{
        margin: 1vh;
        border: 2px solid #D291BC;
        width: 40vw;
        height: auto;
    }

    .about1 p{
        color: #ffffff;
        background-color: #373737;
        border: 2px solid;
        padding: 2vh;
    }

    /*SEGUNDO CONTENEDOR*/

    .about2{
        background-color: #9DAEC6;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        text-align: center;
        padding: 5vw;
        font-family: Arial, Helvetica, sans-serif;
    }

    /*IMAGEN Y TEXTO*/

    .about2 img{
        margin: 1vh;
        border: 2px solid #D291BC;
        width: 40vw;
        height: auto;
    }

    .about2 p{
        color: #ffffff;
        background-color: #373737;
        border: 2px solid;
        padding: 2vh;
    }

    /*TERCER CONTENEDOR*/

    .about3{
        background-color: #9DAEC6;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        text-align: center;
        padding: 5vw;
        font-family: Arial, Helvetica, sans-serif;
    }

    /*IMAGEN Y TEXTO*/

    .about3 img{
        margin: 1vh;
        border: 2px solid #D291BC;
        width: 40vw;
        height: auto;
    }

    .about3 p{
        color: #ffffff;
        background-color: #373737;
        border: 2px solid;
        padding: 2vh;
    }

    /*CONTACT......................*/

    .cont1{
        display: flex;
        flex-direction: column;
        color: #5770f8;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100vw;
        height: 100vh;
        background: url(./Imagenes/two-icecream.jpg);
        background-position: center;
        padding: 5vw;
        font-size: 3vw;
    }
    
    .cont1 h2{
        color: cornsilk;
    }
    
    .cont2{
        display: flex;
        background-color: rgba(200,221,216,255);
        text-align: center;
        width: 100vw;
        height: 100vh;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 5vw;
        font-size: 3vw;
    }

    .cont2 h2{
        color: #efeeea;
    }

    /*LOGO GMAIL Y WHATSAPP*/

    .gw{
        display: flex;
        flex-direction: column;
        width: 20vw;
        height: 15;

    }
    .gw img{
        height: auto;
        width:20vw ;
    }

    /*MORE INFO................*/

    .tabla{
        background-color: #D36582;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        width: 100vw;
        height: 100vh;
    }

    table {
        border: 2px solid white;
        margin-top: 10vh;
        text-align: center;
        width: 90vw;
        height: 50vh;
    }

    .mi{
        margin-top: 5vh;
    }
    .contenido{
        display: flex;
        align-items: center;
        height: 70vh;
    }
    tr, th, td{
        border: 2px solid pink;
        background-color: lightpink;
    }

    /*Benefits and tips ...................*/
    
    
    /*TITULO PAGINA*/
    .titulobf{
        text-align: center;
    }

    /*PRIMER RECUADRO*/

    .contenbox1 {
        width: 100vw;
        height: 100vh;
        font-family: Arial, Helvetica, sans-serif;
        padding: 5vw;
        background-color: lightcoral;
    }

    .cuadro1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 70vh;
        padding: 5vw;
    }

    .cuadro1 img{
        width: 40vw;
        margin-bottom: 2vh;
    }

    dl{
        font-size: 4vw;
        margin: 5vw;
    }

    .stre img{
        width: 90vw;
    }

    /*SEGUNDO RECUADRO*/

    .contenbox2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif;
        background-color: #D291BC;
        width: 100vw;
        height: 100vh;

    }
    .cuadro2 img{
        width: 60vw;
        height: 50vh;
    }

    dl{
        font-size: 4vw;
    }

    .strel{
        display: flex;
        align-items: flex-end;


    }

    .strel img{
        width: 90vw;
    }


    /*RAFFLE.......................*/


    /*CONTENEDOR PRINCIPAL*/

        /*MAPA ...........*/

        .mapa{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #9DAEC6;
            width: 100vw;
            height: 100vh;
        }
    iframe{
        width: 50vw;
    }
    /*CONTENEDOR FORMULARIO*/
    .formu{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(199, 207, 255);
        padding: 1vw;
        width: 100vw;
        height: 100vh;
    }

    /*FORMULARIO*/
    form{
        font-family: Arial, Helvetica, sans-serif;
        border: 5px solid red;
        background-color: white;
        font-size: 1.2vw;
        display: flex;
        flex-direction: column;
        padding: 2vw;
        width: 40vw;
        height: 70vh;
        
    }
     
    .fecha{
        height: 5vh;
        border: solid lightsalmon;
    }
    /*Tamaño de los recuadros*/
    .cua{
        height: 5vh;
        border: 2px solid #D291BC ;
    }

    /*BOTON*/
    .botonenvi{
        display: flex;
        justify-content: center;
        height: 3vh;
    }

    .boton{
        border-radius: 5px;
        width: 10vw;
        background-color: #9eacff;
    }

    /*MARGEN DE SEPARACION*/
    label, input{
        margin: 4px;
    }

    
}
/*-----------------------------------------------------------------------------------------------------------*/
    /*PC*/

    @media only screen and (min-width:1024px){

            /*CONTENEDOR BARRA E IMAGEN */

    .barranav{
        background-color: #F1E3D3;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    /*CONTENEDOR NOMBRE DE LAS PAGINAS*/

    .namenav{
        display: flex;
    }

    /*NOMBRES*/
    
    .namenav a{
        color:rgb(241, 96, 96) ;
        margin-left: 2.5vw;
        text-decoration: none;
        font-size: 1.5vw;
        text-align: center;
        transition: 1s;
    }

    /*ANIMACION*/
    a:hover{
        color: lightpink;
    }

    /*IMAGEN NAV*/

    .barranav img{
        width: 3vw;
    }

    /*PARTE 1 HOME*/

    
        /*BANNER CENTRAL*/

        .oreo{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            color: #5770f8;
            font-size: 2vw;
            background: url(./Imagenes/imagenv.jpg);
            background-size:  100vw 100vh;
            height: 100vh;
        }
        .oreo h2{
            color: #F1E3D3;
        }

    /* SEGUNDA PARTE HOME */

    .segunda{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-evenly;
        padding: 5vw;
        background-color: rgb(235, 138, 138);
        height: 100vh;
        font-family: Arial, Helvetica, sans-serif;
    }

    .segunda img{
        border: 3px solid ;
        width: 30vw;
        height: 60vh;
    }

    .segunda  h2{
        display: flex;
        text-align: center;
        align-items: flex-end;
        justify-content: center;
        color: #5770f8;
        font-size: 2vw;
        width: 40vw;
        height: 15vh;

    }

    .segunda p{
        font-size: 1.5vw;
        text-align: center;
        width: 40vw;
        color: #F1E3D3;
    }

    /*FOOTER HOME*/
    
    .pie{
        display: flex;
        justify-content: center;
        align-items: center;
        color: gold;
        height: 10vh;
        background-color: #b082ff;
    }

     /*ABOUT US......................*/
    


    /*CONTENEDOR DE LAS IMAGENES Y TEXTO CADA CLASE ABOUT SERA IMAGEN Y TEXTO EN SU ORDEN*/
    /*TITULO*/
    .tituloabout{
        background-color: #9DAEC6;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /*PRIMER CONTENEDOR*/

    h1{
        color: #5770f8;
    }
    h2{
        color: #efeeea;
    }
    .about1{
        background-color: #9DAEC6;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 30vh;
        width: 100vw;
        text-align: center;
        padding: 5vw;
        font-family: Arial, Helvetica, sans-serif;
    }

    /*IMAGEN Y TEXTO*/

    .about1 img{
        margin: 1vh;
        border: 2px solid #D291BC;
        width: 10vw;
        height: auto;
    }

    .about1 p{
        color: #ffffff;
        background-color: #373737;
        border: 2px solid;
        padding: 2vh;
    }

    /*contenederos de titulo y texto*/
    .contexto1{
        background-color: #9eacff;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40vw;
    }


    /*SEGUNDO CONTENEDOR*/

    .about2{
        background-color: #9DAEC6;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100vw;
        height: 29vh;
        text-align: center;
        padding: 5vw;
        font-family: Arial, Helvetica, sans-serif;
    }

    /*IMAGEN Y TEXTO*/

    .about2 img{
        margin: 1vh;
        border: 2px solid #D291BC;
        width: 9vw;
        height: auto;
    }

    .about2 p{
        color: #ffffff;
        background-color: #373737;
        border: 2px solid;
        padding: 2vh;
    }

    .contexto2{
        background-color: #5a72ff;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40vw;
    }

    /*TERCER CONTENEDOR*/

    .about3{
        background-color: #9DAEC6;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100vw;
        height: 30vh;
        text-align: center;
        padding: 5vw;
        font-family: Arial, Helvetica, sans-serif;
    }

    /*IMAGEN Y TEXTO*/

    .about3 img{
        margin: 1vh;
        border: 2px solid #D291BC;
        width: 10vw;
        height: auto;
    }

    .about3 p{
        color: #ffffff;
        background-color: #373737;
        border: 2px solid;
        padding: 2vh;
    }

    .contexto3{
        background-color: #0025f7;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40vw;
    }

    /*CONTACT......................*/

    .cont1{
        display: flex;
        flex-direction: column;
        color: #5770f8;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100vw;
        height: 100vh;
        background: url(./Imagenes/two-icecream.jpg);
        background-position: center;
        padding: 5vw;
        font-size: 2vw;
    }

    .cont1 h2{
        color: cornsilk;
    }

    .cont2{
        display: flex;
        background-color: rgba(200,221,216,255);
        width: 100vw;
        height: 100vh;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 5vw;
        font-size: 2vw;
    }

    .cont2 h2{
        color: #efeeea;
    }

    .contexocontact{
        width: 50vw;
        text-align: center;
    }

    /*LOGO GMAIL Y WHATSAPP*/

    .gw{
        display: flex;
        flex-direction: row;
        width: 20vw;
        height: 15;

    }
    .gw img{
        height: auto;
        width:10vw ;
    }

    /*MORE INFO................*/

    .tabla{
        background-color: #D36582;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        width: 100vw;
        height: 100vh;
    }

    .tabla h1{
        color: #5770f8;
    }

    table {
        border: 2px solid white;
        margin-top: 10vh;
        text-align: center;
        width: 50vw;
        height: 50vh;
    }

    .mi{
        margin-top: 5vh;
    }
    .contenido{
        display: flex;
        align-items: center;
        height: 70vh;
    }
    tr, th, td{
        border: 2px solid pink;
        background-color: lightpink;
        font-size: 1vw;
    }

    /*Benefits and tips ...................*/
    
    
    /*TITULO PAGINA*/
    .titulobf{
        text-align: center;
    }

    .titulobf h2{
        color: #F1E3D3;
    }

    /*PRIMER RECUADRO*/

    .contenbox1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 45vh;
        font-family: Arial, Helvetica, sans-serif;
        background-color: lightcoral;
        
    }

    .cuadro1{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80vw;
        height: 30vh;
    }

    .cuadro1 img{
        width: 15vw;
        margin-right: 10vw;
    }

    .stre img{
        display: flex;
        width: 20vw;
    }

    /*SEGUNDO RECUADRO*/

    .contenbox2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        font-family: Arial, Helvetica, sans-serif;
        background-color: #D291BC;
        width: 100vw;
        height: 49vh;

    }

    .cuadro2{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 80vw;
    }
    .cuadro2 img{
        width: 10vw;
    }

    dl{
        font-size: 1.5vw;
    }
    

    .strel img{
        width: 20vw;
    }

    /*RAFFLE.......................*/


    /*CONTENEDOR PRINCIPAL*/

    .myc{
        background-color: #dae0ff;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        align-items: center;
        height: 100vh;
    }


        /*MAPA ...........*/
    iframe{
        width: 30vw;
    }
    /*CONTENEDOR FORMULARIO*/
    .formu{
        background-color: rgb(255, 255, 255);
        padding: 1vw;
        border: 5px solid lightcoral;
    }

    /*FORMULARIO*/
    form{
        font-size: 1.2vw;
        display: flex;
        flex-direction: column;
        width: 25vw;
        height: 60vh;
        margin: 10px;
    }

    .fecha{
        height: 5vh;
        border: solid lightsalmon;
    }
     
    
    /*Tamaño de los recuadros*/
    .cua{
        height: 5vh;
        border: 2px solid #D291BC ;
    }

    /*BOTON*/
    .botonenvi{
        display: flex;
        justify-content: center;
        height: 3vh;
    }

    .boton{
        border-radius: 5px;
        width: 10vw;
        background-color: #9eacff;
    }

    /*MARGEN DE SEPARACION*/
    label, input{
        margin: 4px;
    }

    
    
    }

